{{#Image}}<div class="image">{{Image}}</div>{{/Image}}
<div class="word-container">
    {{#WordAudio}}<div class="audio">{{WordAudio}}</div>{{/WordAudio}}
    <div class="word">{{Word}}{{#Comparative}}, {{Comparative}}{{/Comparative}}{{#Superlative}}, {{Superlative}}{{/Superlative}}</div>
</div>
<div class="hint">{{hint:English}}</div>
{{#Example}}<div class="example-container">
    {{#ExampleAudio}}<div class="audio">{{ExampleAudio}}</div>{{/ExampleAudio}}
    <div class="example">{{Example}}</div>
</div>{{/Example}} 